/* ------------------Admin------------------  */

/*
#layoutSidenav .sb-sidenav-dark {
    position: relative;
    background-color: transparent;
}

#layoutSidenav .sb-sidenav-dark::after {
    background-image: url(https://i.pinimg.com/originals/ee/bb/4a/eebb4ad6dd9e6c3e1a956f38d8d2149e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 16px 20px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    filter: blur(2px);
} */

/* Ultilities */

.fs-icon {
    font-size: 27px;
    font-weight: 500;
}

.container-fluid {
    padding: 0px !important;
}

.blue-n {
    color: #285fd3;
}

.cam-n {
    color: #f89619;
}

.vang-n {
    color: #fcd64c;
}

.green-n {
    color: #91c715;
}

.badege {
    border-radius: 10px;
    background-color: #285fd3;
    display: flex;
    border-radius: 9999px;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    align-items: center;
    font-weight: 500;
}

.zoom-in {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x))
        translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
        skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
        scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    cursor: pointer;
}

.zoom-in:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.section-title {
    color: #2d3748;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.box-n {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.04) !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 6px !important;
    position: relative !important;
}
.box-n-big {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.04) !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 28px !important;
    position: relative !important;
    padding: 28px !important;
}
.wrap-input-b {
    display: flex;
    align-items: center;
}
.wrap-input-b button {
    flex: 0 0 200px;
    margin-left: 20px;
}
.button-color {
    color: white !important;
    background-color: #1d40aa !important;
    font-weight: 500 !important;
}

.page-nap-tien table tr td {
    padding: 20px 0px 0px 10px !important;
}
.page-nap-tien .wrap-button button {
    margin-left: 20px;
    width: 18%;
    margin-right: 20px;
}
.page-nap-tien .wrap-button input {
    height: 38px;
    width: 80%;
}
.page-nap-tien .wrap-button {
    display: flex;
    align-items: center;
}
.section-title-big {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.button-delete {
    color: #fff !important;
    background-color: #d32929 !important;
    font-weight: 500 !important;
}
/* Ultilities */

nav .sb-sidenav-menu {
    z-index: 99;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
    background-color: #f1f5f8;
    position: relative;
    border-radius: 999px 0px 0px 999px;
    color: #2d3748;
}

.breadcrumb-n {
    height: 67px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #dee7ef;
}

.breadcrumb-left ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.breadcrumb-left ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb-left ul li a {
    color: #2d3748;
    font-size: 14px;
}

.breadcrumb-left ul li + li::before {
    content: "navigate_next";
    font-size: 16px;
    color: #2d3748;
    font-family: "Material Icons";
    padding: 0 5px;
}

.breadcrumb-n .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.breadcrumb-n .avatar .list-menu-login {
    position: absolute;
    top: 45px;
    right: 0;
    width: 224px;
    border-radius: 10px;
    background-color: #15329a;
    min-height: 100px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.3s all ease-in-out;
}

.breadcrumb-n .avatar .list-menu-login.show {
    transform: translateY(0px);
    transition: visibility 0s linear 0s, opacity 0.3s 0s, transform 0.2s;
    visibility: visible;
    opacity: 1;
}

.breadcrumb-n .avatar .list-menu-login .wrap-title {
    padding: 16px;
    border-bottom: 1px solid #203fad;
}

.breadcrumb-n .avatar .list-menu-login ul {
    padding: 16px;
    margin-bottom: 0;
}

.breadcrumb-n .avatar .list-menu-login ul li {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.breadcrumb-n .avatar .list-menu-login .wrap-title .title {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.breadcrumb-n .avatar .list-menu-login .wrap-title p {
    font-size: 12px;
    color: #bbc8fd;
    margin-bottom: 0;
}

.breadcrumb-n .avatar .list-menu-login ul li span {
    color: white;
    padding-right: 6px;
    font-size: 18px;
}

.breadcrumb-n .avatar .list-menu-login .logout {
    border-top: 1px solid #203fad;
    display: flex;
    align-items: center;
    padding: 16px;
}

.breadcrumb-n .avatar .list-menu-login .logout span {
    font-size: 18px;
    color: white;
    padding-right: 6px;
}

.breadcrumb-n .avatar .list-menu-login .logout a {
    color: white;
}

.breadcrumb-n .avatar img {
    transition: 0.3s all ease-in-out;
}

.breadcrumb-n .avatar img:hover {
    transform: scale(1.05);
}

.breadcrumb-n .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.breadcrumb-left ul li:last-child a {
    color: #1c3faa;
    font-weight: 500;
}

.sb-sidenav .sb-sidenav-menu .nav .collapse .nav-link.active {
    background-color: transparent;
    position: relative;
    border-radius: 0px;
    color: white;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}

.sb-sidenav .sb-sidenav-menu .nav .collapse .nav-link::before {
    content: "•" !important;
    padding-right: 10px !important;
    font-size: 26px !important;
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: auto !important;
    height: auto !important;
    transform: inherit !important;
}

.sb-sidenav .sb-sidenav-menu .nav > .nav-link.active::before {
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
}

.sb-sidenav .sb-sidenav-menu .nav > .nav-link.active::after {
    margin-top: 50px;
    transform: scale(1.04);
}

.sb-sidenav .sb-sidenav-menu .nav > .nav-link.active::after,
.sb-sidenav .sb-sidenav-menu .nav > .nav-link.active::before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: 100%;
    transition: 0.3s all ease-in-out;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 00-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 000 .081h259.51z' fill='%23f1f5f8'/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    margin-right: -2px;
}

.sb-sidenav .sb-sidenav-menu .nav .collapse .nav-link.active::after,
.sb-sidenav .sb-sidenav-menu .nav .collapse .nav-link.active::before {
    content: "";
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: none !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    margin-right: -2px;
}

nav .nav .collapse .sb-sidenav-menu-nested {
    transition: 0.3s all ease-in-out;
}

nav a.navbar-brand {
    color: white !important;
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    /* background: -webkit-linear-gradient(#6875e9, #8572ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    border-bottom: 1px solid rgba(46, 81, 187, 1);
    padding-bottom: 20px;
    height: 60px;
}

table .thead-dark tr,
.table-list-noti table thead tr {
    background: linear-gradient(
        to right,
        #8971ea,
        #7f72ea,
        #7574ea,
        #6a75e9,
        #5f76e8
    ) !important;
    padding: 0.3rem 0.5rem;
}

.table-list-noti table thead tr th {
    color: white;
    padding: 0.5rem 1rem;
    text-transform: normal;
}

table .thead-dark tr th {
    border-top: 0 !important;
    border: 0 !important;
    border-right: thin solid #cccccc !important;
    background: transparent !important;
}

#layoutSidenav_nav .sidebar-title {
    color: #3c4858;
    font-size: 18px;
    z-index: 2;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: #3c4858;
}

.sb-sidenav-menu .nav-link {
    transition: 0.3s all ease-in-out;
    height: 50px;
    padding-left: 20px;
}

.sb-sidenav-menu .nav-link:hover {
    border-radius: 5px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 0.1s;
    background-color: rgba(49, 81, 188, 1);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: #3c4858;
}

.sb-sidenav-menu .nav .nav-link .sb-sidenav-menu-heading {
    color: #3c4858;
    font-size: 13px;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: #3c4858;
    font-size: 13px;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: #3c4858;
    font-size: 13px;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
    color: #3c4858;
    font-size: 13px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}

#layoutSidenav #layoutSidenav_nav {
    transition: 0.3s all ease-in-out;
}

#layoutSidenav #layoutSidenav_nav.active {
    transform: translateX(0);
}

#userDropdown {
    margin-right: 10px;
}

/*
.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
    box-shadow: -1px 3px 8px #00000021;
} */

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #333333;
    font-weight: bold;
    background-color: #233e8c1c;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    font-size: 13px;
}

.max-width-container {
    max-width: 95%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bootstrap-tagsinput input {
    width: 100% !important;
}

#layoutSidenav_content .card-body {
    padding: 0px 22px 40px 22px;
}

.section-title-small {
    color: #2d3748;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
}

.input-n {
    display: block;
    outline: 0;
    border: 0;
    width: 100%;
    border-radius: 6px;
    padding: 8px 12px;
    appearance: none;
}

.select-n {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(153,153,153,1)'/%3E%3C/svg%3E")
        no-repeat;
    background-color: white;
    background-position: right 10px center;
}

.border {
    border: 1px solid #e2e8f0;
}

.input-n:not(textarea).input--lg {
    padding: 12px 16px;
}

.button-n {
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #1c3faa;
    border: 0;
    outline: 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#slug {
    color: #1c3faa;
}

.show-img {
    width: 100%;
    height: 280px;
    margin-top: 20px;
}

.show-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table-style-1 {
    margin-top: 30px;
}
.table-style-1 table {
    width: 100%;
}
.ngayShow {
    width: 50px;
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    justify-content: center;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}
.list-menu-login a {
    color: white !important;
}
