.danhmuc .search form {
    width: 100%;
}
.article-none {
    width: 100%;
}
.user-mobile {
    right: -120%;
}
.menu-mobile {
    left: -120%;
}
.dangbaiviet .wrap-moTaVip .img a {
    display: flex;
    justify-content: flex-end;
}
.wrap-button-dbv {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}
.dangbaiviet .select2-selection__rendered {
    padding-left: 10px !important;
}
.index-s2 .sl-1
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 40px;
}
a.cke_button {
    height: auto !important;
}
.dangbaiviet .modal-dialog {
    max-width: 913px;
    padding: 0 20px;
}
.datepicker td,
.datepicker th {
    width: 40px !important;
    height: 30px !important;
}
.datepicker table tr td.active {
    background-image: linear-gradient(to bottom, #d3ad7a, #c8a074) !important;
}
.dangbaiviet .modal-content {
    background-color: white;
    padding: 72px;
    padding-top: 16px;
    padding-bottom: 50px;
    overflow: auto;
}
.dangbaiviet .box-tin {
    border: 1px solid rgba(43, 43, 43, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}
.dangbaiviet .section-title {
    color: #000;
    font-size: 20px !important;
    text-align: center;
}
.dangbaiviet .wrap-1 {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(43, 43, 43, 0.15);
}
.dangbaiviet .button-vip {
    background: rgb(153, 51, 147);
    color: white;
    font-size: 16px;
    height: 36px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px, rgba(0, 0, 0, 0.14) 0px 2px 2px,
        rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
    transition: 0.25s ease;
}
.dangbaiviet .button-vip:hover {
    transform: translateY(-3px);
}
.dangbaiviet .button-vip:active {
    transform: translateY(-1px);
}
.dangbaiviet .wrap-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.dangbaiviet .box-tin .wrap-text h4 {
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #2b2b2b;
}
.dangbaiviet .box-tin .wrap-text p {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.00714em;
}
.dangbaiviet .wrap-2 {
    padding: 16px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.15);
}
.dangbaiviet .wrap-2 table {
    width: 100%;
}

.dangbaiviet .wrap-2 tr:nth-of-type(2n-1) {
    background-color: #f7f7f7;
}
.dangbaiviet .wrap-2 tr:nth-of-type(2n) {
}
.dangbaiviet .wrap-2 td:last-child {
    text-align: right;
    height: 46px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.dangbaiviet .wrap-2 td p {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.00714em;
    color: black;
}
.dangbaiviet .wrap-2 td span {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.00714em;
    color: black;
}

.dangbaiviet .wrap-2 td:first-child {
    padding-left: 10px;
}
.dangbaiviet .wrap-3 {
    padding-top: 15px;
    padding-bottom: 20px;
}
.dangbaiviet .wrap-3 ul {
    padding: 0;
    padding-left: 15px;
}
.dangbaiviet .wrap-3 ul li {
    list-style: none;
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.dangbaiviet .wrap-3 ul li span {
    font-weight: 800;
}

.dangbaiviet .wrap-3 ul li::before {
    content: "done";
    font-family: "Material Icons";
    display: inline-block;
    padding-right: 5px;
}
.icons.active {
    background-color: hsl(0deg 0% 100% / 75%) !important;
    color: #e7843f !important;
}
